<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/icon/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>疯狂听抄</title>
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "niunwis2uk");
    </script>
  <script type="module" crossorigin src="/ui/pc/assets/index-3800e4d9.js"></script>
  <link rel="stylesheet" href="/ui/pc/assets/index-f95e0ba9.css">
</head>
<body>
<div id="app"></div>

<script  src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

</body>
</html>